# ignore files in all directories
*.7z
**/obj/
**/bin/
**/Debug/
**/Release/
*.bak
*.lnk
*.suo
*.config

output/
Doc/~$V5 design doc.pptx
Doc/~$SW Develop Schedule.xlsx
Doc/~$ change list.docx
Doc/~$BC Lab Report V5 20190408.xlsm
Doc/~$Test Cases.xlsx
Doc/~$UI Design.pptx